{{#each facts as |fact|}}

  <section data-id="{{fact.id}}">

    <!-- Content -->
    <div class="card-body white">
    <div class="text-muted" align="justify">

    <!-- <h3>Fact id:{{fact.id}}<h3> -->

    <div class='update-fact'>
    <!-- <div class="col-md-6 mb-4"> -->
    <div class="card bg-light mb-3" style="max-width: 30rem;">
    Category: {{fact.category}}
    <br>
    Description: {{fact.level}}

    <form class="hide update-fact-form">
    <!-- <h2>Make an update!</h2> -->
    <div class='update-fact'>Fact ID: {{fact.id}}</div>
    <input name='fact[category]' class="card-title" value="{{fact.category}}" type="text" placeholder="fact category">
    <div class="card-body">
    <input name="fact[level]" class="card-text" value="{{fact.level}}" type="text" placeholder="description">
    <input class='btn btn-warning' type="submit" value="Update Fact">
    <button class='btn btn-danger delete-fact' data-id="{{fact.id}}">Delete</button>
    </form>
    </div>
    </div>
    <br></div>
    </div>






    <!--
    Category: {{fact.category}}
    Description: {{fact.level}}

    <div class='update-fact'>
      <form class="hide update-fact-form">
        <div class='update-fact'>Fact ID: {{fact.id}}</div>
        <input name='fact[category]' value="{{fact.category}}" type="text" placeholder="fact category">
        <input name="fact[level]" value="{{fact.level}}" type="text" placeholder="description">
        <input class='btn btn-warning' type="submit" value="Update Fact">
        <button class='btn btn-danger delete-fact' data-id="{{fact.id}}">Delete</button>
      </form>
    </div>
    <br></div>
    </div> -->




  </section>

{{/each}}
